@charset 'UTF-8';

gparent {
    
    height:50vh;
    width:50vh;

    border:1px solid black;
    padding:10px;
    position:relative;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);

    grid-template-areas:
	    "p1 p2 p3"
	    "p4 p5 p6"
	    "p7 p8 p9";
    gap:5px;
}

gchild {
    color:white;
    border:1px solid white;
    background-color:black;

    display:flex;
    align-items:center;
    justify-content:center;
}

gchild:nth-of-type(1) {
    color:black;
    border:1px solid black;
    background-color:white;
}

gchild:nth-of-type(1) {
    grid-area:p1;
}
gchild:nth-of-type(2) {
    grid-area:p2;
}
gchild:nth-of-type(3) {
    grid-area:p3;
}
gchild:nth-of-type(4) {
    grid-area:p4;
}
